<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Provincias
    </ion-title>
    <!-- <ion-icon slot="end" (click)="logout()" name="log-out-outline"></ion-icon> -->
    <div class="btn-header" slot="end">
      <ion-button  color="light" (click)="logout()">Salir</ion-button>
    </div>
  </ion-toolbar>

  <ion-toolbar color="tertiary">
    <ion-searchbar placeholder="Buscar provincia"  animated (ionChange)="buscarProvincia($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="content" padding>

    <ion-list>
      <ion-item *ngFor="let provincia of nombreProvincias | filtro: provincia">
        <ion-label>{{provincia.nombre}}</ion-label>
        <ion-icon slot="end" (click)="abrirModal(provincia)" name="information-circle-outline"></ion-icon>
      </ion-item>
    </ion-list>
</ion-content>

